.main_container {
    height: 100vh;
}

.upper_area {
    border: 1px solid black;
    display: flex;
    height: 43%
}

.bottom_area {
    height: 50%;
    border: 1px dotted red;
}

#googleMap {
    width: 35%;
    height: 400px;
    display: inline-block;
}

#movielist {
    width: 63%;

    background-color: lightcoral;
    /* display: inline-block; */
}

#trailerModal {
    display: none;
}

.modal-body {
    text-align: center;
}

.bottom_area {
    display: flex;
    justify-content: space-evenly;
}

.bottom_area>div {
    height: 55%;
    width: 14%;
}

.bottom_area>div>h3 {
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
}

    background-color: black;
    display: inline-block;
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 400px;
        width:500px;
        left: 65%;
      }
      /* Optional: Makes the sample page fill the window. */
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

