*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
}
.topHalf{
    text-align: center;
    margin-top: 10%;
}
#map{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}
.bottomHalf{
    /* border: 1px solid blue; */
}

#modal-dialog-id{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    top: 10%;
}

#modal-content-id{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}





